
{{ '//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js' | script_tag }}
<script>
    var domain = "{{ domain }}";
    var product_id = "{{ product_id }}";

    console.log("{{ domain }}");
    console.log("{{ product_id }}");
</script>
{{ 'prod-view.js' | asset_url  | script_tag }}
