<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.ActionType.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/products", { headers })
            .then(response => response.json())
            .then(data => {
              var products = data.products;

              if (products === undefined || products.length == 0) {
                document.getElementById("products").innerHTML = "<br>No products to display.";
              } else {
                var list = "";
                products.forEach((product) => {
                  var link = `<a target="_top" href="https://<%= @shop_origin %>/admin/products/${product.id}">`
                  list += "<li>" + link + product.title + "</a></li>";
                });
                document.getElementById("products").innerHTML = "<ul>" + list + "</ul>";
              }
            });
        }();
      });
    </script>
    <style>
      .table-bordered {
        border: 1px solid #EBEBEB;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
        background-color: #F5F5F6;
        border-bottom-width: 1px;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > tbody > tr > th,
      .table-bordered > tfoot > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > td {
        border: 1px solid #e7e7e7;
      }
      .table > thead > tr > th {
        border-bottom: 1px solid #DDDDDD;
        vertical-align: bottom;
      }
      .table > thead > tr > th,
      .table > tbody > tr > th,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
        border-top: 1px solid #e7eaec;
        line-height: 1.42857;
        padding: 8px;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <h2>Products</h2>
    <div id="products"><br>Loading...</div>

    <h2>Webhooks</h2>

    <% if @webhooks.present? %>
    <ul>
      <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
      <% end %>
    </ul>
    <% else %>
    <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
    <% end %>

    <h2>Conversion rates</h2>

    <% if @conversion_rates.present? %>
    <table class="table table-bordered">
      <thead>
      <tr>
      <td>Products sold</td>
      <td>Views</td>
      <td>Conversion Rate</td>
      <td>Date</td>
      </tr>
      </thead>
      <% @conversion_rates.each do |rate| %>
        <tr>
          <td><%= rate.orders_quantity %></td>
          <td><%= rate.views_quantity %></td>
          <td><%= rate.conversion_rate %></td>
          <td><%= Date.ordinal(rate.year, rate.yday) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>This app has no statistics recorded</p>
  <% end %>
  </body>
</html>
